
      
        <h2>Classificação</h2>
        <table>
            <tr>
              <th >Id</th>
              <th s>Classificação</th>
              <th    >Atualizar</th>
              <th   >Excluir</th>
            </tr>
            {% for ClassiDados in classificacao %}
            <tr>
                <td>{{ClassiDados.idclassificacao}}</td>
                <td>{{ClassiDados.classificacao}}</td>
                <td align='center' class="atualizar">
                    <a href="http://localhost:90/agrosistec/?pagina=post&idclassificacao={{ClassiDados.idclassificacao}}">Atualizar
                    </a></td>
                <td>
            <a href=""><img src='"magens/insert.svg"></a><!-- a imagem não funciona-->
                </td>
              </tr>
        {% endfor %}
            
          </table>
     




    
