<html>

<head>
	<title>Sagro</title>
	<meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/folha.css" />


</head>

<body>

	<div id="principal">
		<header>
			<H1><span>S</span>AGRO</H1>
		</header>
		<div id="corpo">
			<div id="Lateral">
				<nav>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Romaneio</a></li>
						<li><a href="#">Área</a></li>
						<li><a href="">Produto</a></li>
						<li><a href="">Parceiros</a></li>
						<li><a href="">Operacional</a></li>
					</ul>
				</nav>
			</div>
			<div id="conteudo">
				{{Area_Dinamica}}
			</div>
		</div>

		<footer>
			siqueira
		</footer>
	</div>

</body>

</html>
